.outer_layout{
    height: 100vh;
}

.outer_layout .logo{
    height: 32px;
    background: #ffffff;
    opacity: 0.2;
    margin: 16px;
}

.outer_layout .nav_bar{
    background:  #000c17;
}

.outer_layout .nav_bar .menu_items{
    background:  #000c17;
}

.inner_layout .header_bar{
    padding: 0;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}

.header_right .user{
    display: flex;
    align-items: center;
    margin-right: 24px;
    cursor: pointer;
}

.header_right .user .name{
    padding-right: 10px;
}

.toggle_wrapper .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.toggle_wrapper .trigger:hover {
    color: #1890ff;
}

.inner_layout .content_wrapper{
    padding: 0 24px;
}

.content_wrapper .breadcrumb{
    padding: 16px 0;
}

.content_wrapper .content{
    padding: 24px;
    background: #ffffff;
    min-height: 540px;
}

.inner_layout .footer{
    text-align: center;
}
