.no_sider_layout{
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    overflow: hidden;
}

.no_sider_layout .header{
    background: #000c17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.header .logo_wrapper{
    width: 200px;
}

.header .logo_wrapper .logo{
    height: 32px;
    background: #ffffff;
    opacity: 0.2;
    margin: 16px;
}

.no_sider_layout .footer{
    text-align: center;
    background: #000c17;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}